nav.responsive-toolbar{

    ul{
         //display:flex;
         background-color:#0D2149;
         position: fixed;  //so that bar will be streched fully  fixed/absolute 
         flex-direction: column; //Content is along column 
         top:0;
         height: 100%;
         width:300px;
         left:-199px;  //for transition like drawer
         padding-top: 160px;
         //top:160px;
         margin-block-end: 0  ;
         padding-inline-start: 0; 
         margin-block-start: 0px;
          
         align-items: center;
             
      
         transition: 500ms ease all;
         &.active{
             left:0px;
             opacity: 1;      
         } 



     
     figure{
         position: absolute;
         left:227px;  //with respect to parent component (UL)
         top:10px;
         margin-block-start: 0;
         margin-block-end: 0;
         margin-inline-start: 2px;
         margin-block-end: 0em ;
          //   top:2rem;
         margin-top: 61px;
         margin-left: 30px;
         cursor:pointer;
         font-size: 30px;
         color:white;
          
     }

     //element/button css
     li{
         top:260px;
         width:100%;
         padding:20px 20px;
         padding-left: 0;
         padding-right: 0;
         .active{background: #999;}
     }
     //texts css
     a{
         display: flex;               
         text-decoration: none;
         align-items: center;
         flex-direction: row;
         justify-content: space-between;
         margin-left: 20px;
         margin-right: 10px;
         font-weight: bold;
         color:#FFFFFF;
     }
     
     //icons
     i{
         margin-right: 5px;
         font-size: 20px;
     }
}
}







// nav.responsive-toolbar{
//     // display: flex;
//     // background:#0d2149;
//     // height: 100%;
//     //  width:101px;
//     // position:fixed; //content goes behind the screeen when routed
//     // box-shadow: 2px 2px 2px #ccc;
//     //flex-direction: column;
    
//     //nav bar
// //     ul{
// //         //background:#333;
// //         //margin-top:260px;
// //         display:flex;
// //         position: absolute;   
// //       //  flex-direction: column;
// //         margin-block-end: 0  ;
// //         padding-inline-start: 0; 
// //         margin-block-start: 0px;
// //         height: 100%;
// //         align-items: center;
// //         // transition: 300ms ease all;
// //         //    &.active{
// //         //        left:0px;
// //         //    } 
// //                 //content in nav bar
// //     //     li{
// //     //         list-style-type: none;
// //     //         padding:20px 20px;
// //     //     .active{background: #999;}
// //     // }

// //     //    figure{
// //     //        position:absolute;
// //     //        margin-block-start: 0;
// //     //        margin-block-end: 0;
// //     //        margin-inline-start: 2px;
// //     //        margin-block-end: 0em ;
// //     //        top:2rem;
// //     //        margin-top: 61px;
// //     //        cursor:pointer;
// //     //        font-size: 30px;
// //     //        color:white;
// //     //        margin-left: 30px;
           
// //     //    }
     

// //     //text in nav bar
// //     // a{  
// //     //     color:white;
// //     //     display: flex;
// //     //     flex-direction: row-reverse;
// //     //     text-decoration: none;
// //     //     align-items: center;
// //     // }
// //     // //icons
// //     // i{
// //     //     margin-right: 5px;
// //     //     font-size: 20px;
// //     // }
// //     // li:hover{
// //     //     transition: none ease all;
// //     //     background-color: greenyellow;
// //     //     &.active{
// //     //         left:0;
// //     // }
// //     // }
// // }
// }


